li{ 
    cursor:pointer;
    padding:10px;
    list-style:none;
    position:relative;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);  
    height:35px;

}
ul {
    display: flex;
    flex-direction:column; 
    gap: 15px; 
    padding: 30px; 
}
li.unchecked::before{
    content:"▢";
    padding-right:10px;
}
li:hover{
    background-color:rgb(197, 197, 197);
}
li.unchecked{
    transition: background-color 2s ease, color 2s ease;
    
}
li.checked{
    background-color:rgb(129, 216, 112);
    color:rgb(109, 109, 109);
    transition: background-color 2s ease, color 2s ease;
    
}
li.checked::before{
    content:"✔";
    padding-right:10px; 
}
*{
    font-size:25px;
    font-family:"Segoe UI", Arial, sans-serif;
}
h1{
    font-weight: bold;
    text-align:center;
    font-size:40px;
}
.addbutton{
    background-color: rgb(217, 94, 94);
    color:white;
    cursor:pointer;
    padding-right:20px;
    padding-left: 20px;
    border:2px black solid;
    border-radius:15px;
    height: 30px;
}
.addbutton:hover{
    transform: scale(1.2);
    transition: transform 1s ease;
    background-color: rgb(179, 63, 63);
}
main{
    padding:10px;  
}
input{
    width: 75%;
    border:1px solid rgb(163, 162, 162);
    border-radius:15px;
    height:35px;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    padding:10px;
}
select {
    border-radius: 12px;
    padding: 8px 44px 8px 12px; 
    font-size: 20px;
    height: 40px;
}
.tri select::after{
    content: "▾";
    position: absolute;
    right: 15px;
    top: 50%;
}
.filtre select {
    width: 230px;
    
}
.tri select {
    width: 270px;
    
}
header{
    background-color:rgb(68, 144, 177);
    text-align:center;
    padding: 30px 20px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.close{
    padding:10px;
    cursor:pointer;
    position:absolute;
    border-radius:15px;
    right: 0;                    
    top: 0; 
} 
            
.close:hover{
background-color: rgb(217, 94, 94);
}
li .edit{
    color:rgb(217, 94, 94); 
    border:none;
    position: absolute;
    right:50px;
    top: 5px;
    bottom:5px;
    border-radius:10px; 
    background-color: white; 
    cursor:pointer;
    
    
}
li.checked .edit {
    background-color:rgb(129, 216, 112);

}
li .edit:hover{
    color: black;
    background-color: rgb(217, 94, 94);
    transform: scale(1.1);
    transition: transform 1s ease;
}
footer{
    background-color: rgb(68, 144, 177);
    text-align:center;
    
    color: white;
    
}
figure img{
    width:60px;
    height:60px;
}

/*redimensionnement */
@media (max-width: 768px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .input_container {
        display: flex;
        flex-direction: column; 
        align-items: center;    
        gap: 10px;
        width: 100%;             
        padding: 20px 0;
    }
    input {

        width: 90%;             
    }
    .addbutton {
        width: auto;             
        align-self: center;      
        padding: 5px 25px;
    }
    
}
@media (max-width: 570px){
    .container{  
    flex-direction: column;
}
    .filtre select {
    width: 230px;
    
}
.tri select {
    width: 200px;
    
}
li .edit{
    font-size:small;}
}